/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilização global */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #1E1E2E, #282A36);
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.temp {
    font-size: 48px;
    font-weight: 600;
}

.weather-description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.details div {
  display: flex;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 48%;
  padding: 10px;
  box-sizing: border-box;
}

.details div i {
  margin-right: 10px;
}

.details div span {
  font-size: 16px;
}

.icon {
    width: 50px;
}

.size{
    font-size: 80px;
}

.forecast-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-top: 5px;
}

.forecast-day span {
    font-size: 18px;
}

.forecast-day img {
    width: 40px;
    height: 40px;
}

.fas fa-cloud-sun-rain {
  font-weight: 400;
}
